_build/
._*
.AppleDouble
.buildpath
.classpath
.cproject
.DS_Store
.elasticbeanstalk/
.externalToolBuilders/
.idea/
.loadpath
.LSOverride
.metadata
.project
.sass-cache/
.settings/
.Spotlight-V100
.static
.tox
.eggs
.coverage
.Trashes
*.bak
*.egg-info
*.launch
*.log
log/
*.pot
*.pyc
*.pydevproject
*.swp
*.tmp
*~.nib
bin/**
dist/*
local_credentials.py
Icon
local.properties
MANIFEST
scss/*.css
tmp/**
tmp/**/*
environment.ini
goconnect.json
_test.json
*.sqlite3
js_built/
vendor/
*.map
.env
lib/*
!lib/README.rst
/docs
runscope-radar
radar.conf
*.sqlite
.noseids
predicthq.conf